.tag-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  transition: box-shadow 0.2s ease;
  height: fit-content;
  border: 1px solid #e9e9e9;
}

.tag-title {
  margin-bottom: 10px;
}