.tarjeta-new-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.tarjeta-form {
/*   display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; */
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 20px;

}

.input-tarjeta-name-form {
  background: none;
  background-color: white;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  margin: 10px 0px 5px 0px;
}

.tarjeta-creation-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}

.input-tarjeta-name-form:focus {
  outline: none;
}

input[type="color"] {
  appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  height: 40px;
  padding: 0;
  width: 100%;
  margin-top: 25px;
}